h1 {text-align: center;}
p {fontfamily: garamond
}
body {border-style: solid; 
      text-align: center;
       background-image: url(https://lh3.googleusercontent.com/b1-SGm--IkF6v2EOD2M_gVIzlwGKtfzi32lVXiKvgUyO_PB9Bj9R5S2cZ6iF0lwDna1t=h900);
       color: gold
}
div.list {text-align: left;}